@use "../../../styles/variables.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

.spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid $dark;
  border-top-color: $light;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.text {
  margin-top: 0.75rem;
  font-size: 0.9rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
