@use "../../../styles/variables.scss" as *;

.search-wrapper {
  justify-self: center;
  width: 100%;
  max-width: 700px;
  position: relative;

  .search-icon {
    position: absolute;
    left: 0.7em;
    top: 50%;
    transform: translateY(-50%);
    color: $grey;
    pointer-events: none;
  }

  .search-input {
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: 2px;
    background: $light;
    color: $dark;
    padding: 0.8em;
    padding-left: 3.5em;
    height: 2.5em;

    &::placeholder {
      color: $grey;
    }

    &:focus {
      border: 2px solid $purple;
      outline: none;
    }
  }

  .suggestions-list {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid $light-grey;
    background: $light;
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .suggestion-item {
    display: block;
    width: 100%;
    padding: 0.8em;
    color: $dark;
    text-decoration: none;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
    &:focus {
      border: 2px solid $purple;
    }
  }
  .no-results {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    padding: 0.8em;
    border: 1px solid $light-grey;
    background: $light;
  }
}
