@use "../../styles/variables.scss" as *;

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 700px;
  padding: 1em;
}
.empty-info {
  text-align: center;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.75em;
}

.item {
  border: 1px solid $border;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: grid;
  gap: 0.25em;
}

.title {
  margin: 0;
}

.price {
  margin: 0;
  color: $secondary;
}

.total {
  margin-top: 1em;
  font-weight: bold;
  align-self: center;
}

.checkout-wrapper {
  align-self: center;
}
