@use "./variables.scss" as *;

body {
  font-family: $font-body;
  color: $dark;
  background: $light;
  margin: 0;
}

p {
  color: $dark;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

a {
  color: $dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

.material-symbols-outlined {
  font-size: 24px;
}

.cta {
  margin-top: 0.25em;
  border: 2px solid $dark;
  border-radius: 2px;
  background: $dark;
  color: $light;
  padding: 0.5em 1em;
  font-size: 0.9em;
  min-width: 10em;
  width: fit-content;

  &:hover {
    background: $light;
    color: $dark;
  }
}
.link {
  text-decoration: underline;

  &:hover {
    font-weight: bold;
  }
}
