@use "./variables.scss" as *;

body {
  font-family: $font-body;
  color: $primary;
  background: $light;
  margin: 0;
}

p {
  color: $primary;
}

h1 {
  text-transform: uppercase;
}

/* Links */
a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid $border;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}
