@use "./variables.scss" as *;

body {
  font-family: $font-body;
  color: $primary;
  background: $light;
  margin: 0;
}

p {
  color: $primary;
}

h1 {
  text-transform: uppercase;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

.material-symbols-outlined {
  font-size: 24px;
}
