@use "../../styles/variables.scss" as *;

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 700px;
  padding: 1em;

  .paragraph {
    margin: 0 0 1.5em;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .field {
      display: grid;
      gap: 0.4em;
    }

    .label {
      color: $dark;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    .input,
    .textarea {
      border: 1px solid $light-grey;
      border-radius: 2px;
      background: $light;
      color: $dark;
      padding: 0.8em;
      outline: none;
    }

    .input:focus,
    .textarea:focus {
      border: 2px solid $purple;
    }

    .error {
      margin: 0;
      color: $red;
    }

    .submit-wrapper {
      align-self: center;
    }
  }
}
