@use "../../styles/variables.scss" as *;

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-wrapper {
    width: 100%;
  }
}

.grid {
  list-style: none;
  padding: 1em 0;
  margin: 0;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
