@use "../../styles/variables.scss" as *;

.container {
  max-width: 72rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .search-wrapper {
    width: 100%;
  }

  .intro {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid $light-grey;
    display: flex;
    justify-content: center;
  }

  .intro-content {
    max-width: 700px;
    text-align: center;
  }

  .intro-text {
    padding: 1em 0 3.25em 0;
  }

  .products {
    padding-top: 1em;
    width: 100%;
  }
}

.grid {
  list-style: none;
  padding: 1em 0;
  margin: 0;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
