@use "../../../styles/variables.scss" as *;

.header {
  border-bottom: 2px solid $dark;
  padding: 1em 0 0 0;

  .wrapper {
    max-width: 72rem;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr minmax(12rem, 32rem) 1fr;
    align-items: center;
    gap: 1em;
  }

  .logo {
    justify-self: start;
    color: $dark;
    font-size: 1.15em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;

    &:hover {
      text-decoration: none;
    }
  }

  .nav {
    justify-self: center;
    display: flex;
    gap: 1.5rem;
  }

  .cart-wrapper {
    justify-self: end;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
  }

  .nav-link {
    color: $dark;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;

    &:hover {
      text-decoration: underline;
    }
  }

  .burger {
    display: none;
    border: none;
    background: $light;
    color: $dark;
    cursor: pointer;
  }

  @media (max-width: 770px) {
    .wrapper {
      grid-template-areas: "burger logo cart";
      align-items: center;
    }

    .burger {
      display: inline-flex;
      grid-area: burger;
      justify-self: start;
      width: fit-content;
    }

    .logo {
      grid-area: logo;
      justify-self: center;
    }

    .cart-wrapper {
      grid-area: cart;
      justify-self: end;
    }

    .nav {
      display: none;
    }

    .open {
      display: flex;
      justify-content: left;
      flex-direction: column;
      align-items: flex-start;
      justify-self: start;
      gap: 0.5em;
      padding: 0 0.6em;
    }
  }
}
