@use "../../styles/variables.scss" as *;

.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .image-wrapper {
    background: $light;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .image-placeholder {
      width: 100%;
      height: 100%;
    }
  }

  .price {
    font-weight: bold;
  }

  .price-info {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .discounted-price {
      font-weight: bold;
      margin: 0;
    }

    .original-price {
      font-style: italic;
      margin: 0;
    }

    .savings {
      font-style: italic;
      margin: 0;
      color: $red;
    }
  }
}
