@use "../../styles/variables.scss" as *;

.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .image-wrapper {
    background: $light;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .image-placeholder {
      width: 100%;
      height: 100%;
    }
  }

  .price {
    font-weight: bold;
  }

  .price-info {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .discounted-price {
      font-weight: bold;
      margin: 0;
    }

    .original-price {
      font-style: italic;
      margin: 0;
    }

    .savings {
      font-style: italic;
      margin: 0;
      color: $red;
    }
  }

  .reviews {
    display: grid;
    gap: 0.75em;
    padding-top: 2em;

    .review-title {
      margin: 0;
      text-transform: uppercase;
    }

    .reviews-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      gap: 0.8em;

      .review-item {
        border: 1px solid $border;
        background: $light;
        padding: 1em;
      }

      .review-header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: 1em;
      }

      .review-name {
        margin: 0;
        font-weight: bold;
      }

      .review-rating {
        margin: 0;
        color: $secondary;
      }

      .review-text {
        margin: 0.5em 0 0;
      }
    }
  }
}
