@use "../../../styles/variables.scss" as *;

.card {
  border: 1px solid $light-grey;
  border-radius: 2px;
  background: $light;

  .image-wrapper {
    aspect-ratio: 4 / 3;
    background: $light;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .image-placeholder {
      width: 100%;
      height: 100%;
    }
  }

  .text-wrapper {
    padding: 1em;
    display: grid;
    gap: 0.5em;

    .title {
      margin: 0;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
    }

    .price {
      margin: 0;
    }
  }
}
